function SnakeSegment.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
call TranslationCoordinates.RelativeToAbsolute 1
pop this 1
push pointer 0
call SnakeSegment.draw 1
pop temp 0
push pointer 0
return
function SnakeSegment.getRelativeCoordinates 0
push argument 0
pop pointer 0
push this 0
return
function SnakeSegment.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
call Coordinates.getX 1
push this 1
call Coordinates.getY 1
push this 1
call Coordinates.getX 1
push constant 3
add
push this 1
call Coordinates.getY 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function SnakeSegment.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
call Coordinates.getX 1
push this 1
call Coordinates.getY 1
push this 1
call Coordinates.getX 1
push constant 3
add
push this 1
call Coordinates.getY 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function SnakeSegment.dispose 0
push argument 0
pop pointer 0
push this 0
call RelativeCoordinates.dispose 1
pop temp 0
push this 1
call Coordinates.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
